@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: url(../Imagenes/pattern.png); }
  body h1 {
    font-size: 40px;
    color: #08d676;
    text-align: center;
    text-decoration: underline;
    font-family: "among";
    display: inline-block; }
  @media (max-width: 615px) {
    body h1 {
      margin: 0px; } }
  body h2 {
    font-family: sans-serif; }
  body h3 {
    font-size: 18px; }
  body h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none; }

section div {
  display: inline-block; }

.divimagenes {
  text-align: center; }

.clientes {
  display: inline-block; }

@media (min-width: 1199px) and (max-width: 1400px) {
  .clientes {
    font-size: 47px; } }

/*Fuentes*/
@font-face {
  font-family: "among";
  src: url(../fonts/AMONG.otf); }

.titulodestacado h1 {
  margin: 25px auto 0px 123px; }

.titulodestacado p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.card-title {
  color: chocolate;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.list-group-item {
  font-family: monospace;
  font-size: 18px;
  text-align: center; }

.card-link {
  text-decoration: none;
  color: chocolate;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

/*Da estilo a iconos de redes sociales en todo el sitio*/
.iconos {
  float: right;
  margin-right: 150px;
  margin-top: 15px; }

/*Fuentes*/
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf); }

/*Da margen al logo en todas las paginas*/
#logo {
  font-family: "Allura";
  font-size: 40px;
  float: left;
  line-height: 80px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 120px; }

#logo a {
  text-decoration: none;
  color: #08d676; }

@media (max-width: 1050px) {
  #logo {
    width: 150px;
    font-weight: 400; } }

/*Da estilo a Footer en todas las paginas*/
#pie {
  text-align: center;
  height: 30px;
  background-color: #ccc;
  width: 100%; }

/*Da estilo al formulario de contacto en "Contacto"*/
.contacto {
  margin: auto; }

/*Da estilo al div que informa los datos de oficina, telefono y horarios*/
#datos {
  width: 100%; }

.fondooficina {
  background-color: black; }

.col-sm a {
  font-family: "Allura";
  font-size: 40px;
  color: #ccc;
  text-decoration: none; }

.col-sm #titulo {
  font-family: 'Courier New', Courier, monospace;
  color: #ccc;
  vertical-align: middle; }

.col-sm h4 {
  font-family: 'Courier New', Courier, monospace;
  color: #ccc;
  vertical-align: middle; }

/*da estilo al div que se establece sobre el margen izquierdo*/
#layoutnosotrosstart {
  display: flex;
  flex-direction: row; }
  #layoutnosotrosstart img {
    border-radius: 15px;
    width: 500px;
    height: 300px; }

/*da estilo al div que se establece sobre el margen derecho*/
#layoutnosotrosend {
  display: flex;
  flex-direction: row-reverse; }
  #layoutnosotrosend img {
    border-radius: 15px;
    width: 500px;
    height: 300px;
    float: right; }

/*centra y padea el texto de la section que contiene titulo y descripcion de cada empleado*/
#layoutnosotrosstart section.descripcion, #layoutnosotrosend section.descripcion {
  text-align: center;
  padding-top: 60px; }

/*Da color y subrayado a los titulos*/
.descripcion h2 {
  text-decoration: underline;
  color: chocolate; }

/*establece un media queries para que al bajar de 768px el texto con titulo y descripcion se posicione debajo de la fotografia*/
@media (max-width: 768px) {
  #layoutnosotrosend, #layoutnosotrosstart {
    flex-direction: column; } }

/*cambia tamaño de las imagenes al bajar de los 534px*/
@media (max-width: 534px) {
  #layoutnosotrosstart img, #layoutnosotrosend img {
    width: 250px;
    height: 120px; } }

/*sube el texto de la section descripcion para que no quede desproporcionado al ahicar el width de pantalla*/
@media (max-width: 992px) {
  #layoutnosotrosstart section.descripcion, #layoutnosotrosend section.descripcion {
    padding-top: 0px; } }

/*Da estilos a lista de propiedades*/
.prop {
  padding: 15px;
  margin-left: 50px; }

.inmueble {
  text-decoration: none;
  color: chocolate; }

.inmueble:hover {
  color: #08d676;
  text-decoration: underline; }

@media (max-width: 450px) {
  .prop {
    margin-left: 5px; } }

@font-face {
  font-family: "VarelaRound";
  src: url(../fonts/VarelaRound-Regular.ttf); }

.container_ficha {
  margin: 40px 0px 40px 36px; }

.fichapropiedad h1 {
  color: chocolate;
  font-family: 'VarelaRound', sans-serif; }

.fichapropiedad h2 {
  color: #cd8756;
  font-size: 18px;
  font-family: 'VarelaRound', sans-serif; }

.fichapropiedad h3 {
  color: black;
  font-size: 15px;
  font-family: 'VarelaRound', sans-serif; }

.container_ficha .galeria .imagen {
  border: solid 1px #ccc;
  width: 200px;
  height: 300px;
  margin: 0px auto;
  float: left;
  border: 0px 15px 0px 15px; }
