body {
  margin: 0;
  padding: 0;
  background: #eaf585; }
  body h1 {
    font-size: 40px;
    color: #08d676;
    text-align: center;
    text-decoration: underline; }
  body h2 {
    font-family: sans-serif; }
  body h3 {
    font-size: 18px; }
  body h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none; }

section div {
  display: inline-block; }

.divimagenes {
  text-align: center; }

.clientes {
  display: inline-block; }

@media (min-width: 1199px) and (max-width: 1400px) {
  .clientes {
    font-size: 47px; } }

/*Da estilo a "animacion1" en todo el sitio*/
.animacion11 {
  margin-top: 30px; }

/*Da estilo a iconos de redes sociales en todo el sitio*/
.iconos {
  position: fixed;
  top: 0;
  left: 0; }

/*Animacion del Logo*/
.animate__bounceIn {
  animation: bounceIN;
  animation-duration: 2ms;
  animation-iteration-count: initial; }

/*Da margen al logo en todas las paginas*/
/*Fuentes*/
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf); }

#logo {
  font-family: "Allura";
  font-size: 40px;
  float: left;
  line-height: 80px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 120px; }

#logo a {
  text-decoration: none;
  color: #08d676; }

@media (max-width: 1050px) {
  #logo {
    width: 150px;
    font-weight: 400; } }

/*Da estilo a Footer en todas las paginas*/
#pie {
  text-align: center;
  height: 30px;
  background-color: grey;
  width: 100%; }

/*Da estilo al formulario de contacto en "Contacto"*/
.contacto {
  margin: auto; }

/*Da estilo al div que informa los datos de oficina, telefono y horarios*/
#datos {
  width: 100%; }

.fondooficina {
  background-color: black; }

/*Da estilo a texto en nosotros*/
.texto {
  border: solid 3px;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-bottom: 60px; }

/*Da estilos a lista de propiedades*/
.prop {
  padding: 15px;
  margin-left: 150px; }

.inmueble {
  text-decoration: none; }
