body {
  margin: 0;
  padding: 0;
  background: url(../Imagenes/pattern.png); }
  body h1 {
    font-size: 40px;
    color: #08d676;
    text-align: center;
    text-decoration: underline;
    font-family: "among";
    display: inline-block; }
  @media (max-width: 615px) {
    body h1 {
      margin: 0px; } }
  body h2 {
    font-family: sans-serif; }
  body h3 {
    font-size: 18px; }
  body h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none; }

section div {
  display: inline-block; }

.divimagenes {
  text-align: center; }

.clientes {
  display: inline-block; }

@media (min-width: 1199px) and (max-width: 1400px) {
  .clientes {
    font-size: 47px; } }

/*Fuentes*/
@font-face {
  font-family: "among";
  src: url(../fonts/AMONG.otf); }

.titulodestacado h1 {
  margin: 25px auto 0px 123px; }

.titulodestacado p {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.card-title {
  color: chocolate;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.list-group-item {
  font-family: monospace;
  font-size: 18px;
  text-align: center; }

.card-link {
  text-decoration: none;
  color: chocolate;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

/*Da estilo a "animacion1" en todo el sitio*/
.animacion11 {
  margin-top: 30px; }

/*Da estilo a iconos de redes sociales en todo el sitio*/
.iconos {
  float: right;
  margin-right: 150px;
  margin-top: 15px; }

/*Animacion del Logo*/
.animate__bounceIn {
  animation: bounceIN;
  animation-duration: 2ms;
  animation-iteration-count: initial; }

/*Fuentes*/
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf); }

/*Da margen al logo en todas las paginas*/
#logo {
  font-family: "Allura";
  font-size: 40px;
  float: left;
  line-height: 80px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 120px; }

#logo a {
  text-decoration: none;
  color: #08d676; }

@media (max-width: 1050px) {
  #logo {
    width: 150px;
    font-weight: 400; } }

/*Da estilo a Footer en todas las paginas*/
#pie {
  text-align: center;
  height: 30px;
  background-color: grey;
  width: 100%; }

/*Da estilo al formulario de contacto en "Contacto"*/
.contacto {
  margin: auto; }

/*Da estilo al div que informa los datos de oficina, telefono y horarios*/
#datos {
  width: 100%; }

.fondooficina {
  background-color: black; }

/*Da estilo a texto en nosotros*/
.texto {
  border: solid 3px;
  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-bottom: 60px; }

.estilodefotoder {
  display: block;
  float: left;
  border-radius: 10px;
  clear: both; }

.estilodefotoiz {
  display: block;
  float: right;
  border-radius: 10px; }

.nosotros article {
  clear: both; }

article h2 {
  margin-left: 100px;
  float: left;
  margin-top: 40px; }

article p {
  text-align: center; }

.cuadronosotrosder {
  width: 100%;
  height: 300px; }
  .cuadronosotrosder img {
    float: left;
    border-radius: 15px;
    width: 500px;
    height: 300px; }
  .cuadronosotrosder h2 {
    margin-left: 50px;
    margin-top: 25px;
    text-align: center;
    text-decoration: underline;
    color: chocolate; }
  .cuadronosotrosder p {
    text-align: center;
    padding: 10px;
    margin: 10px; }

.cuadronosotrosiz {
  width: 100%;
  height: 300px; }
  .cuadronosotrosiz img {
    float: right;
    border-radius: 15px;
    width: 500px;
    height: 300px; }
  .cuadronosotrosiz h2 {
    margin-left: 50px;
    margin-top: 25px;
    text-align: center;
    text-decoration: underline;
    color: chocolate; }
  .cuadronosotrosiz p {
    text-align: center;
    padding: 20px;
    margin: 10px;
    margin-left: 20px; }

@media (max-width: 992px) {
  .cuadronosotrosder img {
    width: 300px;
    height: 150px; } }

@media (max-width: 490px) {
  .cuadronosotrosder p {
    font-size: 12px;
    margin-top: 0;
    padding-top: 0; }
  .cuadronosotrosder h2 {
    font-size: 20px; } }

@media (max-width: 992px) {
  .cuadronosotrosiz img {
    width: 300px;
    height: 150px; } }

@media (max-width: 490px) {
  .cuadronosotrosiz p {
    font-size: 12px;
    margin-top: 0;
    padding-top: 0; }
  .cuadronosotrosiz h2 {
    font-size: 20px; } }

/*Da estilos a lista de propiedades*/
.prop {
  padding: 15px;
  margin-left: 50px; }

.inmueble {
  text-decoration: none;
  color: chocolate; }

.inmueble:hover {
  color: #08d676;
  text-decoration: underline; }

@media (max-width: 450px) {
  .prop {
    margin-left: 5px; } }

@font-face {
  font-family: "VarelaRound";
  src: url(../fonts/VarelaRound-Regular.ttf); }

.container_ficha {
  margin: 40px 0px 40px 36px; }

.fichapropiedad h1 {
  color: chocolate;
  font-family: 'VarelaRound', sans-serif; }

.fichapropiedad h2 {
  color: #cd8756;
  font-size: 18px;
  font-family: 'VarelaRound', sans-serif; }

.fichapropiedad h3 {
  color: black;
  font-size: 15px;
  font-family: 'VarelaRound', sans-serif; }

.container_ficha .galeria .imagen {
  border: solid 1px #ccc;
  width: 200px;
  height: 300px;
  margin: 0px auto;
  float: left;
  border: 0px 15px 0px 15px; }
