body{
    margin: 0;
	padding: 0;
	background: url(../Imagenes/pattern.png);
    
    h1{
        font-size: 40px;
        color: rgb(8, 214, 118);
        text-align: center;
        text-decoration: underline;
        font-family: "among";
        display: inline-block;  

    }
    @media(max-width: 615px){
        h1{
            margin: 0px;
        }
    }
    h2{
        font-family: sans-serif;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        text-decoration: none;
    }
}

section{
    div{
        display: inline-block;
    }
}
.divimagenes{
    text-align: center;
}
.clientes{
    display: inline-block;
}
@media(min-width:1199px) and (max-width:1400px){
    .clientes{
        font-size: 47px;
    }
}
/*Fuentes*/
@font-face{
    font-family: "among";
    src: url(../fonts/AMONG.otf);
}
.titulodestacado h1{
    margin: 25px auto 0px 123px;
}

.titulodestacado p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.card-title{
    color: chocolate;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.list-group-item{
    font-family: monospace;
    font-size: 18px;
    text-align: center;
}
.card-link{
    text-decoration: none;
    color: chocolate;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}