/*Da estilo al div que informa los datos de oficina, telefono y horarios*/
#datos{
    width: 100%;
}
.fondooficina{
    background-color:black;
}
.col-sm{
    a{
        font-family: "Allura";
        font-size: 40px;
        color: #ccc;
        text-decoration: none;
    }
}
.col-sm{
    #titulo{
        font-family: 'Courier New', Courier, monospace;
        color: #ccc;
        vertical-align:middle;
    }
}
.col-sm{
    h4{
        font-family: 'Courier New', Courier, monospace;
        color: #ccc;
        vertical-align:middle;
    }
}