
/*Da estilo a iconos de redes sociales en todo el sitio*/
.iconos{
	float: right;
	margin-right: 150px;
	margin-top: 15px;
}

/*Fuentes*/
@font-face{
    font-family: "Allura";
    src: url(../fonts/Allura-Regular.ttf);
}
/*Da margen al logo en todas las paginas*/
#logo{
    font-family: "Allura";
    font-size: 40px;
    float: left;
    line-height: 80px;
    font-weight: 500;
	text-decoration: none;
	margin-left: 120px;
}
/*Da estilo a logo en todas las paginas del sitio*/
#logo a{
    text-decoration: none;
    color: rgb(8, 214, 118);
}
@media(max-width: 1050px){
	#logo{width: 150px;
	font-weight: 400;}
}
