/*Da estilo a "animacion1" en todo el sitio*/
.animacion11{
	margin-top: 30px;
}
/*Da estilo a iconos de redes sociales en todo el sitio*/
.iconos{
	position: fixed;
	top: 0;
	left: 0;
}
/*Animacion del Logo*/
.animate__bounceIn{
	animation: bounceIN;
	animation-duration: 2ms;
	animation-iteration-count: initial;
}
/*Da margen al logo en todas las paginas*/
/*Fuentes*/
@font-face{
    font-family: "Allura";
    src: url(../fonts/Allura-Regular.ttf);
}
#logo{
    font-family: "Allura";
    font-size: 40px;
    float: left;
    line-height: 80px;
    font-weight: 500;
	text-decoration: none;
	margin-left: 120px;
}
#logo a{
    text-decoration: none;
    color: rgb(8, 214, 118);
}
@media(max-width: 1050px){
	#logo{width: 150px;}
}