/*Da estilo a texto en nosotros*/
.texto {
	border: solid 3px;
	border-radius: 5px;
	width: 50%;
	margin: auto;
	margin-bottom: 60px;
}
.estilodefotoder {
	display: block;
	float: left;
	border-radius: 10px;
	clear: both;
}
.estilodefotoiz {
	display: block;
	float: right;
	border-radius: 10px;
}
.nosotros article {
	clear: both;
}
article {
	h2 {
		margin-left: 100px;
		float: left;
		margin-top: 40px;
	}
	p {
		text-align: center;
	}
}

.cuadronosotrosder {
	width: 100%;
	height: 300px;
	
	img{
		float: left;
		border-radius: 15px;
		width: 500px;
		height: 300px;

	}
	h2{
		margin-left: 50px;
		margin-top: 25px;
		text-align: center;
		text-decoration: underline;
	}
	p{
		text-align: center;	
		padding: 10px;
		margin: 10px;
	}
}
.cuadronosotrosiz {
	
	width: 100%;
	height: 300px;
	
	img{
		float: right;
		border-radius: 15px;
		width: 500px;
		height: 300px;
	}
	h2{
		margin-left: 50px;
		margin-top: 25px;
		text-align: center;
		text-decoration: underline;

	}
	p{
		text-align: center;	
		padding: 20px;
		margin: 10px;
		margin-left: 20px;

	}
}

@media(max-width:992px){
	.cuadronosotrosder img{
		width: 300px;
		height: 150px;
	}
}
@media(max-width:490px){
	.cuadronosotrosder p{
		font-size: 12px;
		margin-top: 0;
		padding-top: 0;
	}
	.cuadronosotrosder h2{
		font-size: 20px;
	}
}
@media(max-width:992px){
	.cuadronosotrosiz img{
		width: 300px;
		height: 150px;
	}
}
@media(max-width:490px){
	.cuadronosotrosiz p{
		font-size: 12px;
		margin-top: 0;
		padding-top: 0;
	}
	.cuadronosotrosiz h2{
		font-size: 20px;
	}
}

