/*da estilo al div que se establece sobre el margen izquierdo*/
#layoutnosotrosstart{
	display: flex;
	flex-direction: row;
		img{
			border-radius: 15px;
			width: 500px;
			height: 300px;
		}
}
/*da estilo al div que se establece sobre el margen derecho*/
#layoutnosotrosend{
	display: flex;
	flex-direction: row-reverse;
		img{
			border-radius: 15px;
			width: 500px;
			height: 300px;
			float: right;
		}
}
/*centra y padea el texto de la section que contiene titulo y descripcion de cada empleado*/
#layoutnosotrosstart section.descripcion, #layoutnosotrosend section.descripcion{
	text-align: center;
	padding-top: 60px;;
}
/*Da color y subrayado a los titulos*/
.descripcion{
	h2{
		text-decoration: underline;
		color: chocolate;
	}
}
/*establece un media queries para que al bajar de 768px el texto con titulo y descripcion se posicione debajo de la fotografia*/
@media(max-width:768px){
	#layoutnosotrosend, #layoutnosotrosstart{
		flex-direction: column;
	}
	
}
/*cambia tamaño de las imagenes al bajar de los 534px*/
@media(max-width:534px){
	#layoutnosotrosstart img, #layoutnosotrosend img{
		width: 250px;
		height: 120px;
	}
}
/*sube el texto de la section descripcion para que no quede desproporcionado al ahicar el width de pantalla*/
@media(max-width:992px){
	#layoutnosotrosstart section.descripcion, #layoutnosotrosend section.descripcion{
		padding-top: 0px;
	}
}
	


