 /*Da estilos a lista de propiedades*/
.prop{
    padding: 15px;
    margin-left: 50px;
}
.inmueble{
    text-decoration: none;
    color: chocolate;
}
.inmueble:hover{
    color: rgb(8, 214, 118);
    text-decoration: underline;
    
}
@media(max-width:450px){
	.prop{
		margin-left: 5px;
	}
}