@font-face{
    font-family: "VarelaRound";
    src: url(../fonts/VarelaRound-Regular.ttf)
    
}
.container_ficha{
    margin: 40px 0px 40px 36px;
}
.fichapropiedad{
    
    
    h1{
        color: chocolate; 
        font-family: 'VarelaRound', sans-serif;
    }
    h2{
        color: rgb(205, 135, 86);
        font-size: 18px;
        font-family: 'VarelaRound', sans-serif;
    }
    h3{
        color: black;
        font-size: 15px;
        font-family: 'VarelaRound', sans-serif;
    }
}

.galeria{
    margin: 20px 25px 40px 60px;
    :first-child{
        margin-left: 100px;
    }
    .imagen{
        margin-left: 15px;
        width: 300px;
        height: 300px;
        border-radius: 15px;
    }
}